@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
/* Remove link underline */
a {
  text-decoration: none;
}

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Main layout */
html {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  color: #eeeeee;
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 15px;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #202025;
}

.container {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  max-width: 800px;
  margin: 64px;
}

@media only screen and (max-width: 800px) {
  .container {
    margin: 32px;
  }
}

.logo {
  max-width: 80px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 800px) {
  .logo {
    max-width: 56px;
    margin-bottom: 24px;
  }
}

.title {
  display: inline-block;
  margin-bottom: 16px;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  font-size: 1.333rem;
}

@media only screen and (max-width: 800px) {
  .title {
    font-size: 1.125rem;
  }
}

.headline {
  font-size: 2.667rem;
  font-weight: bold;
  line-height: 3.556rem;
}

@media only screen and (max-width: 800px) {
  .headline {
    font-size: 1.625rem;
    line-height: 2.125rem;
  }
}

.text-highlight {
  color: #FB41B9;
  background-image: -webkit-linear-gradient(92deg, #FB41B9, #FFB649);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 15s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

hr {
  margin-top: 40px;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 40px;
  border-top-width: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.12);
}

@media only screen and (max-width: 800px) {
  hr {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;
  background: #393954;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.16);
  border-radius: 100px;
  color: #eeeeee;
}

.btn:hover {
  cursor: pointer;
}

.btn--primary {
  background: linear-gradient(91.4deg, #A83DE9 -10.13%, #3F19CD 109.73%);
}

.btn:hover {
  border-color: rgba(255, 255, 255, 0.25);
}

.btn--discord:before {
  content: "";
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-image: url(../img/icon-discord.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
}

ul.coms-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  margin-bottom: 48px;
}

@media only screen and (max-width: 800px) {
  ul.coms-list {
    margin-bottom: 24px;
  }
}

ul.coms-list li {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  list-style-type: none;
  margin-bottom: 8px;
}

ul.coms-list li:before {
  content: "";
  display: inline-block;
  position: relative;
  top: 4px;
  width: 22px;
  height: 22px;
  margin-right: 12px;
  background-image: url(../img/bullet.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
}

@media only screen and (max-width: 800px) {
  ul.coms-list li:before {
    margin-right: 8px;
    width: 18px;
    height: 18px;
    background-size: 18px;
  }
}

@media only screen and (max-width: 800px) {
  ul.coms-list li {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-bottom: 2px;
  }
}
